USE [inventario]
GO
/****** Object:  Table [CENAMEP\rvergara].[area]    Script Date: 10/03/2025 4:21:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE area(
	[cod_area] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[cod_area] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [CENAMEP\rvergara].[asignaciones]    Script Date: 10/03/2025 4:21:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE asignaciones(
	[cod_asignacion] [int] IDENTITY(1,1) NOT NULL,
	[cod_equipo] [int] NOT NULL,
	[cod_usuario] [int] NOT NULL,
	[fecha_asignado] [date] NOT NULL,
	[fecha_desasignacion] [date] NULL,
	[estado] [varchar](1) NULL,
	[firma] [nvarchar](max) NOT NULL,
	[firma_retorno] [nvarchar](max) NULL,
	[usuario_asigno] [int] NOT NULL,
	[firma_asigno] [nvarchar](max) NOT NULL,
	[usuario_recibe] [int] NULL,
	[firma_recibe] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[cod_asignacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [CENAMEP\rvergara].[detalles_equipos]    Script Date: 10/03/2025 4:21:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE detalles_equipos(
	[cod_detalle] [int] IDENTITY(1,1) NOT NULL,
	[cod_equipo] [int] NULL,
	[cod_especificacion] [int] NULL,
	[valor] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[cod_detalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [CENAMEP\rvergara].[equipos]    Script Date: 10/03/2025 4:21:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE equipos(
	[cod_equipo] [int] IDENTITY(1,1) NOT NULL,
	[cod_tipo_equipo] [int] NOT NULL,
	[cod_proveedor] [int] NOT NULL,
	[serie] [varchar](100) NULL,
	[estado] [varchar](1) NULL,
	[marbete] [varchar](50) NULL UNIQUE,
	[fecha_recepcion] [date] NOT NULL,
	[garantia_meses] [int] NULL,
	[ultimo_mantenimiento][date] null,
PRIMARY KEY CLUSTERED 
(
	[cod_equipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [CENAMEP\rvergara].[especificaciones]    Script Date: 10/03/2025 4:21:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE especificaciones(
	[cod_especificacion] [int] IDENTITY(1,1) NOT NULL,
	[cod_tipo_equipo] [int] NULL,
	[nombre] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[cod_especificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [CENAMEP\rvergara].[proveedor]    Script Date: 10/03/2025 4:21:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE proveedor(
	[cod_proveedor] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NULL,
	[correo] [nvarchar](100) NULL,
	[telefono] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[cod_proveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [CENAMEP\rvergara].[sub_area]    Script Date: 10/03/2025 4:21:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE sub_area(
	[cod_subarea] [int] IDENTITY(1,1) NOT NULL,
	[cod_area] [int] NOT NULL,
	[nombre] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[cod_subarea] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [CENAMEP\rvergara].[tipoequipo]    Script Date: 10/03/2025 4:21:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE tipoequipo(
	[cod_tipo_equipo] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[cod_tipo_equipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [CENAMEP\rvergara].[usuario]    Script Date: 10/03/2025 4:21:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE usuario(
	[cod_usuario] [int] IDENTITY(1,1) NOT NULL,
	[cod_subarea] [int] NOT NULL,
	[num_empleado] [nvarchar](50) NULL,
	[nombre] [nvarchar](50) NULL,
	[apellido] [nvarchar](50) NULL,
	[usuario] [nvarchar](50) NOT NULL,
	[contrasena] [nvarchar](100)  NULL,
	[correo] [nvarchar](100) NULL,
	[estado] [nvarchar](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[cod_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [CENAMEP\rvergara].[valores_especificos]    Script Date: 10/03/2025 4:21:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE valores_especificos(
	[cod_valores] [int] IDENTITY(1,1) NOT NULL,
	[cod_especificacion] [int] NULL,
	[valor] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[cod_valores] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE asignaciones WITH CHECK ADD FOREIGN KEY([cod_equipo])
REFERENCES equipos ([cod_equipo])
GO
ALTER TABLE asignaciones  WITH CHECK ADD FOREIGN KEY([cod_usuario])
REFERENCES usuario ([cod_usuario])
GO
ALTER TABLE [detalles_equipos]  WITH CHECK ADD FOREIGN KEY([cod_equipo])
REFERENCES [equipos] ([cod_equipo])
GO
ALTER TABLE [detalles_equipos]  WITH CHECK ADD FOREIGN KEY([cod_especificacion])
REFERENCES [especificaciones] ([cod_especificacion])
GO
ALTER TABLE [equipos]  WITH CHECK ADD FOREIGN KEY([cod_proveedor])
REFERENCES [proveedor] ([cod_proveedor])
GO
ALTER TABLE [equipos]  WITH CHECK ADD FOREIGN KEY([cod_tipo_equipo])
REFERENCES [tipoequipo] ([cod_tipo_equipo])
GO
ALTER TABLE [especificaciones]  WITH CHECK ADD FOREIGN KEY([cod_tipo_equipo])
REFERENCES [tipoequipo] ([cod_tipo_equipo])
GO
ALTER TABLE [sub_area]  WITH CHECK ADD FOREIGN KEY([cod_area])
REFERENCES [area] ([cod_area])
GO
ALTER TABLE [usuario]  WITH CHECK ADD FOREIGN KEY([cod_subarea])
REFERENCES [sub_area] ([cod_subarea])
GO
ALTER TABLE [valores_especificos]  WITH CHECK ADD FOREIGN KEY([cod_especificacion])
REFERENCES [especificaciones] ([cod_especificacion])
GO
/****** Object:  StoredProcedure [CENAMEP\rvergara].[asigancionesAcciones]    Script Date: 10/03/2025 4:21:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [asigancionesAcciones] 
@usuario_e int,
@usuario_r int,
@observacion nvarchar(100),
@firma_a NVARCHAR(MAX),
@firma_r NVARCHAR(MAX),
@equipos NVARCHAR(MAX),
@accion nvarchar(1),
@marbete nvarchar(max),
@cod_asignacion int
as
BEGIN
	SET NOCOUNT ON;
declare @v_usuario_e int;
declare @v_usuario_r int;
declare @v_cod_asignacion int ;
declare @v_nomUsuario_r varchar(200);
declare @v_nomUsuario_e varchar(200);
declare @v_equipos table(
	cod_equipo int		
)
BEGIN TRY
	BEGIN TRANSACTION;
	if(@accion = 'A')
		begin
		INSERT INTO @v_equipos(cod_equipo)
			SELECT 
				JSON_VALUE(value,'$.cod_equipo')
			FROM OPENJSON(@equipos);

			select  @v_nomUsuario_r = CONCAT(nombre,' ',apellido)
			from usuario where cod_usuario = @usuario_r

			select  @v_nomUsuario_e = CONCAT(nombre,' ',apellido)
			from usuario where cod_usuario = @usuario_e

			INSERT INTO asignaciones(cod_equipo,cod_usuario,usuario_asigno,fecha_asignado,estado,firma,firma_asigno)
			SELECT
				d.cod_equipo,
				@usuario_r,
				@usuario_e,
				GETDATE(),
				'A',
				@firma_r,
				@firma_a
			FROM @v_equipos d;

			update equipos
				set estado = 'S'
			from equipos e
			join @v_equipos v on e.cod_equipo = v.cod_equipo


			set @v_usuario_e = @usuario_e

			insert into registros_historial_equipos(cod_usuario,cod_equipo,marbete,tipo_accion,detalle)
			select
				@usuario_e,
				d.cod_equipo,
				v.marbete,
				'ASIGNACION DE EQUIPO',
				concat('El Equipo con marbete '
				,v.marbete,' ha sido asignado al usaurio '
				, @v_nomUsuario_r, ' y lo asigno el usaurio '
				, @v_nomUsuario_e)
			FROM @v_equipos d
			join equipos v on d.cod_equipo = v.cod_equipo
		end
	else if(@accion = 'R')
		begin
			select @v_usuario_e = cod_usuario from asignaciones where cod_asignacion = @cod_asignacion;
			select @v_nomUsuario_e = CONCAT(nombre,' ',apellido) from usuario where cod_usuario = @v_usuario_e;

			select  @v_nomUsuario_r = CONCAT(nombre,' ',apellido)
			from usuario where cod_usuario = @usuario_r

			update asignaciones
				set estado = 'R',
				firma_retorno = @firma_a,
				usuario_recibe = @usuario_r,
				firma_recibe= @firma_r,
				fecha_desasignacion= GETDATE()
			where cod_asignacion = @cod_asignacion

			update equipos
				set estado = 'A'
			where marbete = @marbete

			insert into registros_historial_equipos(cod_usuario,cod_equipo,marbete,tipo_accion,detalle)
			select
				@usuario_r,
				e.cod_equipo,
				@marbete,
				'DEVOLUCIÓN DE EQUIPO',
				concat('El usauario '
				,@v_nomUsuario_e,' ha devuelto el equipo con marbete '
				, @marbete, ' y lo recibio el usuario '
				, @v_nomUsuario_r)
			FROM equipos e where e.marbete = @marbete

			end
		COMMIT TRANSACTION;
		END TRY
	BEGIN CATCH
		ROLLBACK TRANSACTION;
		  PRINT ERROR_MESSAGE();
		THROW;
	END CATCH
END
GO
/****** Object:  StoredProcedure [CENAMEP\rvergara].[EquiposAcciones]    Script Date: 10/03/2025 4:21:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [EquiposAcciones]
@tipoequipo int,
@proveedor nvarchar(100),
@serie nvarchar(100),
@marbete nvarchar(50),
@garantia int,
@estado nvarchar(1),
@fecha date,
@extras NVARCHAR(MAX),
@accion nvarchar(1),
@cod_equipo int,
@cod_usuario int
as
BEGIN
	SET NOCOUNT ON;
declare @v_cod_proveedor int;
declare @v_cod_equipo int;
declare @v_nomUsuario varchar(50);
DECLARE @valores_extras_concatenados NVARCHAR(MAX);
declare @v_datosextras table(
	cod_especificacion int,
	valor nvarchar(max)
);
BEGIN TRY
	BEGIN TRANSACTION;

	if(@accion = 'I') 
		begin
			--insertar proveedor si no existe
			if TRY_CAST(@proveedor as int) is not null
				begin					
					set @v_cod_proveedor = CAST(@proveedor as int);
				end
			else
				begin
					insert into proveedor(nombre)values(@proveedor);
					set @v_cod_proveedor = SCOPE_IDENTITY();
				end

			--crear el equipo
			insert into equipos(cod_tipo_equipo,cod_proveedor,serie,estado,fecha_recepcion,marbete,garantia_meses)
			values(@tipoequipo,@v_cod_proveedor,@serie,@estado,@fecha,@marbete,@garantia);
			set @v_cod_equipo = SCOPE_IDENTITY();

			-- guarda los datos especificos en tabla remporal
			INSERT INTO @v_datosextras(cod_especificacion, valor)
			SELECT 
				JSON_VALUE(value,'$.cod_especificacion'),
				JSON_VALUE(value,'$.valor')
			FROM OPENJSON(@extras);

			--insertar especificaciones del equipo
			INSERT INTO detalles_equipos(cod_equipo, cod_especificacion, valor)
			SELECT
				@v_cod_equipo,
				d.cod_especificacion,
				d.valor
			FROM @v_datosextras d;

			-- guarda las nuevas especificaciones
			INSERT INTO valores_especificos(cod_especificacion, valor)
			SELECT DISTINCT
				d.cod_especificacion,
				d.valor
			FROM @v_datosextras d
			LEFT JOIN valores_especificos v
				ON v.cod_especificacion = d.cod_especificacion AND v.valor = d.valor
			WHERE v.cod_especificacion IS NULL;



				-- datos para el historial de acciones
			select @v_nomUsuario = concat(nombre,' ',apellido) from usuario where cod_usuario = @cod_usuario;
			SELECT @valores_extras_concatenados = STRING_AGG(
				e.valor, 
				' | ' -- Usamos ' | ' como separador entre cada valor de la fila
			)
			FROM @v_datosextras AS e;

			insert into registros_historial_equipos(cod_usuario,cod_equipo,marbete,tipo_accion,detalle)
			select
				@cod_usuario,
				@v_cod_equipo,
				@marbete,
				'REGISTRO DE NUEVO EQUIPO',
				concat('El usauario '
				,@v_nomUsuario,' ha registrado un nuevo equipo detalles, No. Serie: ',@serie,
				', Marbete: ',@marbete
				,', detalles extras: ',@valores_extras_concatenados );
			

		end	
	else if(@accion = 'E')
		begin
			--insertar proveedor si no existe
			if TRY_CAST(@proveedor as int) is not null
				begin					
					set @v_cod_proveedor = CAST(@proveedor as int);
				end
			else
				begin
					insert into proveedor(nombre)values(@proveedor);
					set @v_cod_proveedor = SCOPE_IDENTITY();
				end


				--modifica el equipo
			
			update equipos
			set
				cod_proveedor = @v_cod_proveedor,
				serie = @serie,					
				garantia_meses = @garantia,
				estado = @estado
			where cod_equipo = @cod_equipo


			-- guarda los datos especificos en tabla remporal
			INSERT INTO @v_datosextras(cod_especificacion, valor)
			SELECT 
				JSON_VALUE(value,'$.cod_especificacion'),
				JSON_VALUE(value,'$.valor')
			FROM OPENJSON(@extras);

			--insertar especificaciones del equipo
			UPDATE de
			SET
				de.valor = d.valor
			FROM
				detalles_equipos AS de
			JOIN
				@v_datosextras AS d ON de.cod_equipo = @cod_equipo AND de.cod_especificacion = d.cod_especificacion
			WHERE
				de.cod_equipo = @cod_equipo;

			-- datos para el historial de acciones
			select @v_nomUsuario = concat(nombre,' ',apellido) from usuario where cod_usuario = @cod_usuario;
			SELECT @valores_extras_concatenados = STRING_AGG(
				e.valor, 
				' | ' -- Usamos ' | ' como separador entre cada valor de la fila
			)
			FROM @v_datosextras AS e;

			insert into registros_historial_equipos(cod_usuario,cod_equipo,marbete,tipo_accion,detalle)
			select
				@cod_usuario,
				@cod_equipo,
				@marbete,
				'MODIFICACIÓN DEL EQUIPO',
				concat('El usauario '
				,@v_nomUsuario,' ha modificado los datos del equipo equipo detalles, No. Serie: ',@serie,
				', Marbete: ',@marbete
				,', detalles extras: ',@valores_extras_concatenados );

				
			end
		COMMIT TRANSACTION;
	END TRY
	BEGIN CATCH
		ROLLBACK TRANSACTION;
		  PRINT ERROR_MESSAGE();
		THROW;
	END CATCH


END;
GO


create table mantenimientos(
cod_mantenimiento int primary key IDENTITY(1,1),
cod_equipo int not null,
fecha_mantenimiento date not null,
usuario_responsable int not null,
usuario_tecnico int not null,
firma_responsable varchar(max) not null,
firma_tecnico varchar(max) not null,
observacion varchar(200) ,
CONSTRAINT FK_Mantenimiento_Equipo FOREIGN KEY (cod_equipo) REFERENCES equipos(cod_equipo),
CONSTRAINT FK_Mantenimiento_Usuario_Responsable FOREIGN KEY (usuario_responsable) REFERENCES usuario(cod_usuario),
CONSTRAINT FK_Mantenimiento_Usuario_Tecnico FOREIGN KEY (usuario_tecnico) REFERENCES usuario(cod_usuario)
);

create table trabajo_mantenimiento(
cod_trabajo int primary key identity(1,1),
descripcion varchar(200) not null
);

create table detalle_mantenimiento(
cod_detalleMantenimiento int primary key IDENTITY(1,1),
cod_mantenimiento int not null,
cod_trabajo int not null,
realizado varchar(1),

CONSTRAINT FK_Detalle_Mantenimiento FOREIGN KEY (cod_mantenimiento) REFERENCES mantenimientos(cod_mantenimiento),
CONSTRAINT FK_Detalle_Trabajo FOREIGN KEY (cod_trabajo) REFERENCES trabajo_mantenimiento(cod_trabajo),
CONSTRAINT UQ_Detalle_Mantenimiento_Trabajo UNIQUE (cod_mantenimiento, cod_trabajo)

);

CREATE TABLE registros_historial_equipos (
    id_registro BIGINT IDENTITY(1,1) PRIMARY KEY,
    fecha_hora_accion DATETIME2 NOT NULL DEFAULT GETDATE(),
    cod_usuario int NOT NULL,
    cod_equipo int NOT NULL, 
    marbete varchar(50) not null,
    tipo_accion NVARCHAR(100) NOT NULL,
    detalle NVARCHAR(MAX) NULL,

CONSTRAINT FK_Accion_Usuario FOREIGN KEY (cod_usuario) REFERENCES usuario(cod_usuario),
CONSTRAINT FK_Registro_Equipo FOREIGN KEY (cod_equipo) REFERENCES equipos(cod_equipo),
CONSTRAINT FK_Registro_Marbete FOREIGN KEY (marbete) REFERENCES equipos(marbete)
);

insert into trabajo_mantenimiento(descripcion)
values('Verificación de antivirus actualizado'),
('Desfragmentación del disco duro'),('Limpieza de archivos temporales de internet')
,('Limpieza de la papelera de reciclaje.')
,('Limpieza de programas erróneamente instalados')
,('Instalar actualizaciones pendientes de Windows')
,('Verificación de la carpeta Metrologia')
,('Otras actualizaciones')
,('Limpieza interna para equipos de escritorio (Disipadores de calor, abanicos, placas, etc.)')
,('Limpieza externa de equipos de escritorio y portátiles.')