@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --bg-principal:/*#ffd400*/ #2b7fff;
  --principal-hover: #1449f0;
  --principal-ring:#2b7efd;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.swal2-html-container{
  z-index: 2 !important;
  overflow: inherit;
}
.componentefirma{
  border: solid 1px black;
  width: 100%;
  height: 200px;
}
